/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and general styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
}

/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #228B22;
    color: white;
    position: relative;
}

.navbar-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.no-link {
    text-decoration: none;
    color: inherit;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.navbar-links a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.navbar-links a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Slight white overlay on hover */
    border-radius: 5px;
}

.navbar-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

.navbar-links.active {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

/* Home Sections Styling */
#home-section {
    width: 90%;
    margin: 4rem auto;
    padding: 40px;
    text-align: center;
    background-color: green;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

#home-section h2 {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 20px;
}

#home-section p {
    font-size: 1.2rem;
    color: lightgrey;
    line-height: 1.8;
    margin-bottom: 20px;
}

/* Footer Styling */
footer {
    background-color: darkgreen;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: auto;
    width: 100%;
}

/* Form Container Styling */
.form-container {
    margin: 8rem auto 2rem auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    max-width: 1200px;
}

iframe {
    width: 100%;
    height: 800px;
    border: none;
}

/* Main container Styling */
.main-container {
    padding-top: 80px;
    margin: 0 10%;
}

/* Recipe Cards Styling */
.recipe-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-top: 20px;
}

.recipe-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.recipe-card:hover {
    transform: scale(1.05);
}

.recipe-card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.recipe-card p {
    font-size: 1em;
    color: #555;
}

/* Search and Category Filter Styles */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
    flex-wrap: wrap;
}

#search-input {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 60%;
    max-width: 300px;
}

#category-filter,
#chef-filter {
    background-color: #4CAF50; 
    color: white;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 25%;
    max-width: 200px;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.modal-content {
    background-color: #fff;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    width: 90%;
    max-width: 700px;
    max-height: 80vh;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    animation: fadeIn 0.3s ease-in-out;
}

.recipe-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    max-height: 250px;
    display: block;
    margin-bottom: 15px; 
}

body.modal-open {
    overflow: hidden;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal-header {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

ul,
ol {
    margin: 10px 0;
    padding-left: 20px;
}

.modal-prepTime,
.modal-cookTime {
    font-size: 1rem;
    margin: 10px 0;
}

#modal-cookTime {
    margin-bottom: 20px;
}

.modal-chef {
    font-style: italic;
    color: #555;
    margin-bottom: 10px;
}

.modal-footer {
    text-align: center;
    margin-top: 20px;
}

.modal-header,
#modal-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
}

#modal-chef {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 20px;
}

#modal-summary {
    font-size: 1rem;
    margin-bottom: 20px;
}

.modal-content h3 {
    text-align: center;
    margin-bottom: 20px;
}

.recipe-card h3 {
    text-align: center;
    margin-bottom: 10px;
}

/* Dropdown Styling */
.filters .dropdown {
    position: relative;
    display: inline-block;
}

.filters .dropbtn {
    background-color: #4CAF50; 
    color: white;
    padding: 10px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 200px;
    text-align: left;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.filters .dropdown:hover .dropbtn {
    background-color: #45a049; 
}

.filters .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.filters .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.filters .dropdown-content a:hover {
    background-color: #f1f1f1; 
}

.filters .dropdown:hover .dropdown-content {
    display: block;
}


/* Responsive adjustments */

/* For smaller devices like phones (less than 600px wide) */
@media only screen and (max-width: 600px) {
    .navbar-links {
        flex-direction: column;
        display: none;
        gap: 10px;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #228B22; /* Forest Green */
        padding: 10px;
    }

    .navbar-links.active {
        display: flex;
    }

    .navbar-toggle {
        display: block;
    }

    #home-section h2 {
        font-size: 1.5rem;
    }

    .recipe-list {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 15px;
    }

    .recipe-card {
        padding: 10px;
    }

    .modal-content {
        width: 90%;
        max-width: 90%;
        padding: 20px;
    }

    #search-input {
        margin-top: 30px;
    }

    #search-input {
        padding: 12px;
    }

    .modal-header, .modal-body {
        font-size: 1.5rem;
    }

    .search-container {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    #search-input, 
    #category-filter, #chef-filter {
        width: 90%;
    }

    #search-input {
        padding: 12px;
        font-size: 1.1rem;
    }

    #category-filter, #chef-filter {
        padding: 12px;
        font-size: 1.1rem;
    }
}

/* For larger tablets and above (up to 768px) */
@media only screen and (max-width: 768px) {
    .recipe-list {
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    }

    .modal-content {
        padding: 25px;
    }
}